<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5p %d{HH:mm:ss} [%t][%C{1}] [%X{demande}] %m%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>eos-logging.log</File>
		<Append>false</Append>

		<encoder>
			<pattern>%d{dd/MM/YY HH:mm:ss} %m%n
			</pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>10</maxIndex>
			<FileNamePattern>logs/archived/eos-logging.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>20000KB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<!-- ################################################################### -->
	<!-- ##################### Logger ###################################### -->
	<!-- ################################################################### -->

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="org.springframework" level="ERROR">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>

	<logger name="org.hibernate" level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>

</configuration>
